# Ignore bundler config #
/.bundle

# Ignore bundled gems #
/vendor/bundle

# Ignore all logfiles and tempfiles #
/log/*
/tmp/*

# Other Files #
Gemfile.lock
*.gem

# Yard #
.yardoc/*

# Jekyll Stuff #
_site
